<!DOCTYPE html>
<html>
  <head>
    <title>myRepertoire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logo-circle.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      window.logoCircle = '<%= image_url('logo-circle.png') %>'
      window.userIcon = '<%= image_url('user_icon.png') %>'
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
